server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          # Substitua pela URL do SEU GitHub
          uri: https://github.com/ucsal/atividade-springcloudconfig-daniel.git
          default-label: main