server:
  port: 8080

spring:
  application:
    name: account-service

  config:
    import: "optional:configserver:http://localhost:8888/"

  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: refresh